<p align="center">
<FONT FACE="times new roman" SIZE=5>
<br>
<img src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1455514364/pim02bzqvgz0hibsra41.png"
width="250" height="250">
</img>
<br>
<i><b>Docente:</b> Juan Pablo Ospina Lopez.</i>
<br>
<i><b>Asignatura:</b> Inteligencia Artificial</i>
<br>
<i><b>Estudiante:</b> Chiara Vivian Valenzuela Losada</i>
<br>
<i><b>Tema:</b> Introducci√≥n - Pandas.</i>
<br>
<i>28/09/2023</i>
</FONT>
</p>

# __Certificado__

![Chiara Vivian Valenzuela Losada - Pandas.png]()

# __Series__

In [1]:
import numpy as np
import pandas as pd

## __Creando series__

Declare una serie vacia

In [2]:
serie_vacia = pd.Series()

print(serie_vacia)

Series([], dtype: float64)

<ipython-input-2-6621492463ef>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  serie_vacia = pd.Series()

Dada la lista `X = ['A','B','C', 'D']` conviertala a un serie de Pandas

In [3]:
X = ['A', 'B', 'C', 'D']
serie_x = pd.Series(X)
print(serie_x)

0    A
1    B
2    C
3    D
dtype: object

Asignele el nombre  `'Letras'` a la serie `X`

In [4]:
serie_x = pd.Series(X, name='Letras')
print(serie_x)

0    A
1    B
2    C
3    D
Name: Letras, dtype: object

Muestre los valores de la serie `X`

In [5]:
print(serie_x.values)

['A' 'B' 'C' 'D']

## __Indexaci√≥n__

Asigne los √≠ndices `[primero, segundo, tercero, cuarto]` a la serie `X`

In [6]:
nuevos_indices = ['primero', 'segundo', 'tercero', 'cuarto']
serie_x = pd.Series(X, index=nuevos_indices)
print(serie_x)

primero    A
segundo    B
tercero    C
cuarto     D
dtype: object

Imprima el primer elemento de la serie `X` (utilice diferentes m√©todos)

In [7]:
primer_elemento = serie_x.iloc[0]
print(primer_elemento)

primer_elemento = serie_x.loc['primero']
print(primer_elemento)

primer_elemento = serie_x[0]
print(primer_elemento)

A
A
A

Imprima el primer y el √∫ltimo de la serie `X` (utilice diferentes m√©todos)

In [8]:
primer_elemento, ultimo_elemento = serie_x.iloc[0], serie_x.iloc[-1]
print("Primer elemento:", primer_elemento, "√öltimo elemento", ultimo_elemento)

primer_elemento, ultimo_elemento = serie_x.loc['primero'], serie_x.loc['cuarto']
print("Primer elemento:", primer_elemento, "√öltimo elemento", ultimo_elemento)

primer_elemento, ultimo_elemento  = serie_x[0], serie_x[-1]
print("Primer elemento:", primer_elemento, "√öltimo elemento", ultimo_elemento)

Primer elemento: A √öltimo elemento D
Primer elemento: A √öltimo elemento D
Primer elemento: A √öltimo elemento D

Imprima todos los elementos intermedios de la serie `X` (utilice diferentes m√©todos)

In [9]:
elementos_intermedios = serie_x.iloc[1:-1]
print("Elementos intermedios:", elementos_intermedios)

elementos_intermedios = serie_x.loc['segundo':'tercero']
print("Elementos intermedios:", elementos_intermedios)

elementos_intermedios = serie_x[1:-1]
print("Elementos intermedios:", elementos_intermedios)

Elementos intermedios: segundo    B
tercero    C
dtype: object
Elementos intermedios: segundo    B
tercero    C
dtype: object
Elementos intermedios: segundo    B
tercero    C
dtype: object

Imprima todos los elementos de la serie `X` en orden inverso (utilice diferentes m√©todos)

In [10]:
elementos_inversos = serie_x.iloc[::-1]
print("Elementos en orden inverso:", elementos_inversos)

elementos_inversos = serie_x.loc[['cuarto', 'tercero', 'segundo', 'primero']]
print("Elementos en orden inverso:", elementos_inversos)

elementos_inversos = pd.Series(reversed(serie_x))
print("Elementos en orden inverso:", elementos_inversos)

Elementos en orden inverso: cuarto     D
tercero    C
segundo    B
primero    A
dtype: object
Elementos en orden inverso: cuarto     D
tercero    C
segundo    B
primero    A
dtype: object
Elementos en orden inverso: 0    D
1    C
2    B
3    A
dtype: object

## __Manipulando series__

Cambie el tipo de datos de la siguiente serie a `float`

In [11]:
X = pd.Series([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float', index=['first','second','third','fourth','fifth'])
X

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
dtype: float64

Ordene los valores de la serie `X`

In [12]:
sortedseries = X.sort_values(ascending=True)
print(sortedseries)

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
dtype: float64

Asigne el valor de `10` al quinto elemento de la serie `X`

In [13]:
print(X, "\n")
X['fifth']= 10
print(X)

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
dtype: float64

first      1.0
second     2.0
third      3.0
fourth     4.0
fifth     10.0
dtype: float64

Asigne el valor de `0` a todos los elementos intermedios de la serie `X`. Utilice diferentes m√©todos en la soluci√≥n propuesta

In [14]:
X = pd.Series([1.0, 2.0, 3.0, 4.0, 5.0], dtype='int', index=['A','B','C','D','E'])
print(X,"\n")
X[['B','C','D']]=0
print(X)

A    1
B    2
C    3
D    4
E    5
dtype: int64

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [15]:
X.loc[['B','C','D']]=0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

Sume $5$ a cada uno de los elementos de la serie `X`

In [16]:
X = pd.Series([1.0, 2.0, 3.0, 4.0, 5.0], dtype='int', index=['A','B','C','D','E'])
X = X + 5
print(X)

A     6
B     7
C     8
D     9
E    10
dtype: int64

## __Selecci√≥n condicionada (boolean arrays)__

Dada la serie `X` cree una nueva serie donde solo aparezcan valores positivos

In [17]:
X=pd.Series([-1, 2, -3, 4, -5, -6])
print(X[X>=0])

1    2
3    4
dtype: int64

Dada la serie `X` cree una nueva serie donde solo aparezcan valores comprendidos entre `-2` y `9`

In [18]:
X = pd.Series([-1, 2, 0, 5, 39, -5,  4, 3, 8, -8, 10, 15, 32])
print (X,"\n")
print(X[X>-2])

0     -1
1      2
2      0
3      5
4     39
5     -5
6      4
7      3
8      8
9     -8
10    10
11    15
12    32
dtype: int64

0     -1
1      2
2      0
3      5
4     39
6      4
7      3
8      8
10    10
11    15
12    32
dtype: int64

Dada la serie `X` cree una nueva serie donde solo aparezcan valores que son iguales a $-1$ o $0$ o son mayores que la media

In [19]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])
print(X[X>-1])or print(X[X>0])

1     2
2     0
4     5
5     6
6     0
7     0
9    10
dtype: int64
1     2
4     5
5     6
9    10
dtype: int64

## __Estad√≠sticas__

Dada la la lista `X = [3,5,6,7,2,3,4,9,4]` encuentre la suma de todos sus elementos

In [20]:
X = pd.Series([3, 5, 6, 7, 2, 3, 4, 9, 4])
X.sum()

43

Encuentre la media, la desiviaci√≥n est√°ndar, la mediana, el m√°ximo y el m√≠nimo de la serie

In [21]:
print("Media: ", X.mean())

print("Desviacion estandar: ", X.std())

print("Mediana: ", X.median())

print("Maximo: ", X.max())

print("Minimo: ", X.min())

Media:  4.777777777777778
Desviacion estandar:  2.223610677354389
Mediana:  4.0
Maximo:  9
Minimo:  2

# __DataFrames__

## __Creando un DataFrame__

Declare un DataFrame vacio

In [22]:
df = pd.DataFrame({})
print(df)

Empty DataFrame
Columns: []
Index: []

Declare un DataFrame llamado marvel_data que contenga la siguiente informaci√≥n

In [23]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

df = pd.DataFrame(marvel_data)

Agregue los nombres a las columnas a partir de la siguiente lista `['name', 'sex, 'first_appearance']`

In [24]:
df = pd.DataFrame(marvel_data, columns=['name','sex','first_appareance'])
print(df)

                name     sex  first_appareance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

Seleccione la columna `'name'` como los √≠ndices del DataFrame

In [25]:
df.set_index('name')

                     sex  first_appareance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

Elimine la columna `'name'` ya que ahora representa los √≠ndices

In [26]:
df.drop(columns=['name'])

       sex  first_appareance
0     male              1962
1     male              1941
2     male              1974
3     male              1963
4     male              1963
5     male              1961
6     male              1961
7     male              1962
8     male              1963
9   female              1961
10  female              1975
11    male              1939
12    male              1964
13    male              1964
14    male              1963
15    male              1962
16  female              1964
17  female              1963
18  female              1964
19    male              1968

Elimine las filas con la informaci√≥n de `Storm` y `Vision`

In [27]:
df = df.drop(df[df['name'].isin(['Storm', 'Vision'])].index)

# Muestra el DataFrame actualizado
print(df)

                name     sex  first_appareance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964

## __Indexaci√≥n__

Imprima las primeras 5 filas del DataFrame. (Utilice todos los m√©todos posibles)

In [28]:
print(df[['name', 'sex', 'first_appareance']].head(5))

              name   sex  first_appareance
0       Spider-Man  male              1962
1  Captain America  male              1941
2        Wolverine  male              1974
3         Iron Man  male              1963
4             Thor  male              1963

Imprima las √∫ltimas 5 filas del DataFrame. (Utilice todos los m√©todos posibles)

In [29]:
print(df.iloc[-5:])

              name     sex  first_appareance
14  Doctor Strange    male              1963
15        Hank Pym    male              1962
16   Scarlet Witch  female              1964
17            Wasp  female              1963
18     Black Widow  female              1964

Imprima el genero de las primeras 5 filas del DataFrame. (Utilice todos los m√©todos posibles)

In [30]:
print(df[['sex']].head(5))

    sex
0  male
1  male
2  male
3  male
4  male

Muestre la primera aparici√≥n de todos los elementos intermedios en el DataFrame

In [31]:
print(df[['first_appareance']])

    first_appareance
0               1962
1               1941
2               1974
3               1963
4               1963
5               1961
6               1961
7               1962
8               1963
9               1961
11              1939
12              1964
13              1964
14              1963
15              1962
16              1964
17              1963
18              1964

Muestre el primer y el √∫ltimo elemento del DataFrame

In [32]:
print(df.iloc[0])
print(df.iloc[-1])

name                Spider-Man
sex                       male
first_appareance          1962
Name: 0, dtype: object
name                Black Widow
sex                      female
first_appareance           1964
Name: 18, dtype: object

## __Manipulando DataFrames__

Mofique la primera aparici√≥n de `Vision` al a√±o `1984`

In [33]:
df.at[19,'first_appareance']='1984'
print(df)

                name     sex first_appareance
0         Spider-Man    male           1962.0
1    Captain America    male           1941.0
2          Wolverine    male           1974.0
3           Iron Man    male           1963.0
4               Thor    male           1963.0
5              Thing    male           1961.0
6   Mister Fantastic    male           1961.0
7               Hulk    male           1962.0
8              Beast    male           1963.0
9    Invisible Woman  female           1961.0
11             Namor    male           1939.0
12           Hawkeye    male           1964.0
13         Daredevil    male           1964.0
14    Doctor Strange    male           1963.0
15          Hank Pym    male           1962.0
16     Scarlet Witch  female           1964.0
17              Wasp  female           1963.0
18       Black Widow  female           1964.0
19               NaN     NaN             1984

Agregue una columna llamada `years_since`, la cual se calcular√° como el n√∫mero de a√±os entre la primera aparici√≥n y la fecha actual

In [34]:
from datetime import datetime
# Convierte la columna 'first_appareance' al tipo de dato int
df['first_appareance'] = df['first_appareance'].astype(int)

# Calcula la fecha actual
fecha_actual = datetime.now().year

# Calcula la diferencia en a√±os y crea la columna 'years_since'
df['years_since'] = fecha_actual - df['first_appareance']

print(df)

                name     sex  first_appareance  years_since
0         Spider-Man    male              1962           61
1    Captain America    male              1941           82
2          Wolverine    male              1974           49
3           Iron Man    male              1963           60
4               Thor    male              1963           60
5              Thing    male              1961           62
6   Mister Fantastic    male              1961           62
7               Hulk    male              1962           61
8              Beast    male              1963           60
9    Invisible Woman  female              1961           62
11             Namor    male              1939           84
12           Hawkeye    male              1964           59
13         Daredevil    male              1964           59
14    Doctor Strange    male              1963           60
15          Hank Pym    male              1962           61
16     Scarlet Witch  female              1964           59
17              Wasp  female              1963           60
18       Black Widow  female              1964           59
19               NaN     NaN              1984           39

Agregue una columna llamada `Salary` y asigne a todos un valor de `15000 USD`

In [35]:
df.rename(columns={"new_column_name": "salary"}, inplace=True)
df["salary"] = 15000
print (df)

                name     sex  first_appareance  years_since  salary
0         Spider-Man    male              1962           61   15000
1    Captain America    male              1941           82   15000
2          Wolverine    male              1974           49   15000
3           Iron Man    male              1963           60   15000
4               Thor    male              1963           60   15000
5              Thing    male              1961           62   15000
6   Mister Fantastic    male              1961           62   15000
7               Hulk    male              1962           61   15000
8              Beast    male              1963           60   15000
9    Invisible Woman  female              1961           62   15000
11             Namor    male              1939           84   15000
12           Hawkeye    male              1964           59   15000
13         Daredevil    male              1964           59   15000
14    Doctor Strange    male              1963           60   15000
15          Hank Pym    male              1962           61   15000
16     Scarlet Witch  female              1964           59   15000
17              Wasp  female              1963           60   15000
18       Black Widow  female              1964           59   15000
19               NaN     NaN              1984           39   15000

## __Selecci√≥n condicionada (boolean arrays)__

Muestre todos los heroes de genero femenino en el DataFrame

In [36]:
# Soluci√≥n propuesta
df2 = df[df["sex"].isin(['female'])]

df2.head()

               name     sex  first_appareance  years_since  salary
9   Invisible Woman  female              1961           62   15000
16    Scarlet Witch  female              1964           59   15000
17             Wasp  female              1963           60   15000
18      Black Widow  female              1964           59   15000

Muestre todos los heroes cuya aparici√≥n fue posterior a 1970

In [37]:
mayor1970 = df[df["first_appareance"] > 1970]
mayor1970.head()

         name   sex  first_appareance  years_since  salary
2   Wolverine  male              1974           49   15000
19        NaN   NaN              1984           39   15000

Muestre todos los heroes de g√©nero masculino en el DataFrame cuya aparici√≥n fue despu√©s de `1970`

In [38]:
df3 = df[df["sex"].isin(['male'])]
df3 = df[df["first_appareance"] > 1970]

df3.head()

         name   sex  first_appareance  years_since  salary
2   Wolverine  male              1974           49   15000
19        NaN   NaN              1984           39   15000

Muestre todos los herores de g√©nero femenino cuya aparici√≥n fue antes de 1980

In [39]:
df4 = df[df["sex"].isin(['female'])]
df4 = df[df["first_appareance"] < 1980]
df4.head()

              name   sex  first_appareance  years_since  salary
0       Spider-Man  male              1962           61   15000
1  Captain America  male              1941           82   15000
2        Wolverine  male              1974           49   15000
3         Iron Man  male              1963           60   15000
4             Thor  male              1963           60   15000

## __Estad√≠sticas__

Presente un resumen estad√≠stico de cada una de las columnas en el DataFrame

In [40]:
df.describe

<bound method NDFrame.describe of                 name     sex  first_appareance  years_since  salary
0         Spider-Man    male              1962           61   15000
1    Captain America    male              1941           82   15000
2          Wolverine    male              1974           49   15000
3           Iron Man    male              1963           60   15000
4               Thor    male              1963           60   15000
5              Thing    male              1961           62   15000
6   Mister Fantastic    male              1961           62   15000
7               Hulk    male              1962           61   15000
8              Beast    male              1963           60   15000
9    Invisible Woman  female              1961           62   15000
11             Namor    male              1939           84   15000
12           Hawkeye    male              1964           59   15000
13         Daredevil    male              1964           59   15000
14    Doctor Strange    male              1963           60   15000
15          Hank Pym    male              1962           61   15000
16     Scarlet Witch  female              1964           59   15000
17              Wasp  female              1963           60   15000
18       Black Widow  female              1964           59   15000
19               NaN     NaN              1984           39   15000>

Muestre la media, el m√≠inimo y el m√°ximo de la primera aparici√≥n

In [41]:
first = df['first_appareance']
print("Media: ",first.mean())
print("Minimo: ",first.min())
print("Maximo: ", first.max() )

Media:  1962.0
Minimo:  1939
Maximo:  1984

Muestre los nombres de los Heroes cuyo a√±o de primera aparici√≥n est√° por debajo de la media

In [42]:
df5 = df[df["first_appareance"] < 1962]
df5.head()

                name     sex  first_appareance  years_since  salary
1    Captain America    male              1941           82   15000
5              Thing    male              1961           62   15000
6   Mister Fantastic    male              1961           62   15000
9    Invisible Woman  female              1961           62   15000
11             Namor    male              1939           84   15000